/* = Presets
-----------------------------------------------*/

	* {
	  -webkit-font-smoothing: antialiased;
	  text-rendering: optimizeLegibility; 
	}


/* = Extra Sizing
----------------------------------------------- */

	@media only screen and (max-width: 479px) {
		.show-xxs{
			display:block !important;
		}
		
		.hidden-xxs{
			display:none !important;
		}
	
		.col-xxs-3{
			width:25% !important;
			display:block !important;
		}
	
		.col-xxs-4{
			width:33.33333333% !important;
			display:block !important;
		}
		
		.col-xxs-6{
			width:50% !important;
			display:block !important;
		}
	
		.col-xxs-12{
			width:100% !important;
			clear:both !important;
			display:block !important;
		}
	}


/* = HTML & Body
-----------------------------------------------*/

	html, body {
		width:100%;
		min-width:300px;
		height:auto;
		
		color:#222222;
		font-family:font-family: 'Montserrat', Arial, Helvetica, sans-serif;
		font-size:15px;
		font-weight:normal;
		line-height:25px;
		text-align:center;
		
		margin:0px auto;
		padding:0px;
		border:0px none;
	}
	
	html {
	}
	
	body {
	}


/* = Standards
-----------------------------------------------*/

	/* Titles */
	
	h1,
	h2,
	h3,
	h4,
	h5,
	h6{
		color:inherit;
		font-family:inherit;
		font-size:25px;
		font-style:normal;
		font-weight:bold;
		line-height:35px;	
			
		margin:15px auto;
		padding:0px;
	}
	
		h1{
			/* Page Title */
			font-size:25px;
			line-height:35px;
			text-transform:uppercase;
		}
	
		h2{
			/* Page subtitle */
			font-size:23px;
			line-height:33px;
			text-transform:uppercase;
		}
	
		h3{
			/* Page Section Title */ 
			font-size:21px;
			line-height:31px;
		}
	
		h4{
			/* Job Section Title */
			font-size:19px;
			line-height:19px;
		}
	
		h5{
			/* Job Filter Title */
			font-size:17px;
			line-height:17px;
		}
	
		h6{
			/* Footer Title */ 
			font-size:15px;
			line-height:15px;
		}
	
	p{
		color:inherit;
		font-family:inherit;
		font-size:15px;
		font-style:normal;
		font-weight:normal;
		line-height:25px;	
			
		margin:15px auto;
		padding:0px;
	}
	
	
	/* Lists */
	ul, ol{
		margin:15px auto;
		padding:0px 25px;
	}
	
		li{
			color:inherit;
			font-family:inherit;
			font-size:15px;
			font-style:normal;
			font-weight:normal;
			line-height:25px;
		}
	
		ul ul, 
		ol ol, 
		ul ol, 
		ol ul{
			margin:13px auto;
			padding:0px 25px;
		}
		
			ul ul li, 
			ol ol li, 
			ul ol li, 
			ol ul li{
				font-size:13px;
				line-height:23px;
			}
	
	
	/* Emphasis */
	strong, b{
		font-style:normal;
		font-weight:bold;
	}
	
	i, em{
		font-style:italic;
		font-weight:normal;
	}
	
	strong i, strong em,
	i strong, em strong {
		font-style:italic;
		font-weight:bold;
	}
	

	/* Links */
	a,
	a:link,
	a:active,
	a:visited {
		color:inherit;
		font-family:inherit;
		text-decoration:none;
		outline:none !important;
			
		opacity:1;
		
		-webkit-transition:opacity 150ms cubic-bezier(0.42, 0, 0.58, 1);
		-moz-transition:opacity 150ms cubic-bezier(0.42, 0, 0.58, 1);
		-o-transition:opacity 150ms cubic-bezier(0.42, 0, 0.58, 1);
		transition:opacity 150ms cubic-bezier(0.42, 0, 0.58, 1); 
	}
	
		a:hover {
			color:inherit;
			font-family:inherit;
			text-decoration:none;
			outline:none !important;
			
			opacity:0.75;
		
			-webkit-transition:opacity 150ms cubic-bezier(0.42, 0, 0.58, 1);
			-moz-transition:opacity 150ms cubic-bezier(0.42, 0, 0.58, 1);
			-o-transition:opacity 150ms cubic-bezier(0.42, 0, 0.58, 1);
			transition:opacity 150ms cubic-bezier(0.42, 0, 0.58, 1); 
		}
	
	
	/* Line Break */
	hr{
		background:#EEEEEE;
		
		width:100%;
		height:1px;
		
		display:inline-block;
		
		font-size:1px;
		line-height:1px;
		
		margin:0px auto;
		padding:0px;
		border:0px none;	
	}


	/* Media Queries */
	@media only screen and (max-width: 991px){
		html,
		body,
		p,
		li{
			font-size:13px;
			line-height:23px;	
		}
	
		h1{
			font-size:23px;
			line-height:33px;
		}
	
		h2{
			font-size:21px;
			line-height:31px;
		}
	
		h3{
			font-size:19px;
			line-height:19px;
		}
	
		h4{
			font-size:17px;
			line-height:17px;
		}
	
		h5{
			font-size:15px;
			line-height:15px;
		}
	
		h6{
			font-size:13px;
			line-height:13px;
		}
	}
	
	@media only screen and (max-width: 767px){
		html,
		body,
		p,
		li{
			font-size:11px;
			line-height:21px;	
		}
	
		h1{
			font-size:21px;
			line-height:31px;
		}
	
		h2{
			font-size:19px;
			line-height:19px;
		}
	
		h3{
			font-size:17px;
			line-height:17px;
		}
	
		h4{
			font-size:15px;
			line-height:15px;
		}
	
		h5{
			font-size:13px;
			line-height:13px;
		}
	
		h6{
			font-size:11px;
			line-height:21px;
		}
	}
			

/* = Content
-----------------------------------------------*/
	
	/* Sections */
	section{
		width:100%;
		height:auto;
		
		display:block;
		position:relative;	
		clear:both;
		
		margin:0px auto;
		padding:15px 0px;
		border:0px none;
	}


	/* Title */
	.section__carousel{
		text-align:left;
		padding:0px;
	}

	
		.js-flexslider--carousel{
			width:100%;
			height:auto;
			
			display:block;
			position:relative;
			
			margin:0px auto;
			padding:0px;
			border:0px none;	
		}
		
			.js-flexslider--carousel ul,
			.js-flexslider--carousel li{ 		
				width:100%;
				height:auto;
				
				display:block;
				position:relative;
				float:left;
				z-index:0;
				
				list-style:none;
				
				margin:0px auto;
				padding:0px;
				border:0px none;
			}

			.carousel__image{
				width:100%;
				display:none;
				z-index:0;
			}

			.carousel__content{
				width:100%;
				height:auto;

				display:none;
				position:absolute;
				z-index:20;
				top:0px;
				left:0px;
			}

				.carousel__title{
				}

				.carousel__text{
				}


	/* Title */
	.section__title{
		background:#4a5e7e;

		color:#FFFFFF;
		text-align:left;
	}


	/* Subitle */
	.section__subtitle{
		text-align:center;
		padding-bottom:0px;
	}


	/* One Column */
	.section__one-column{
		text-align:left;
	}


	/* Two Coolumns */
	.section__two-columns{
		text-align:left;
	}

	@media (min-width:768px){
		.section__two-columns-text{
			-webkit-column-count:2;
			-moz-column-count:2;
			column-count:2;
			-webkit-column-gap:30px;
			-moz-column-gap:30px;
			column-gap:30px;
		}
	}


	/* Quotes */
	.section__quotes{
		background:#000000;
		color:#FFFFFF;
	}


	/* People */
	.section__people{
		background:#F8F8F8;
	}
	
	
	/* -- About ---------- */

/* = Header
-----------------------------------------------*/
	
	/* Header */
	.header{
		background:#FFFFFF;
		width:100%;
		height:auto;

		display:block;
		position:relative;

		margin:0px auto;
		padding:15px 0px;
		border:0px none;
	}


	/* Logo */
	.header__logo{
	}

	.header__logo img{
		width:auto;
		max-width:100%;
		height:auto;
	}

	
	/* Navigation */
	.header__navigation{
	}

	.header__navigation ul{
		width:100%;
		height:auto;

		display:block;
		position:relative;

		margin:0px auto;
		padding:0px;
		border:0px none;
	}

	.header__navigation li{
		width:auto;
		height:auto;

		display:block;
		position:relative;
		float:left;

		margin:0px auto;
		padding:0px;
		border:0px none;
	}

	.header__navigation a{
	}

	.header__navigation li.current-menu-item a{
	}
		
		
/* = Footer
-----------------------------------------------*/


	/* Sticky Footer */
	html, 
	body {
		height: 100%;
	}

	#page-container {
		min-height: 100%;
		margin: 0 auto -300px;
	}

	#footer-container, 
	#push {
		height:300px;
	}


	/* Footer */
	.footer{
		background:#202020;

		width:100%;
		height:300px;

		display:block;
		position:relative;

		color:#FFFFFF;
		text-align:left;

		margin:0px auto;
		padding:0px;
		border:0px none;
	}

		.footer_ h6{
		}

	.footer__top{
		width:100%;
		height:auto;

		display:block;
		position:relative;

		color:#FFFFFF;
		text-align:left;

		margin:0px auto;
		padding:0px;
		border:0px none;
	}

	.footer__bottom{
		width:100%;
		height:auto;

		display:block;
		position:relative;

		color:#FFFFFF;
		text-align:center;

		margin:0px auto;
		padding:0px;
		border:0px none;
	}

	
	/* Navigation */
	.footer__navigation{
	}

	.footer__navigation ul{
	}

	.footer__navigation li{
	}

	.footer__navigation a{
	}



