/* = Presets
-----------------------------------------------*/

	* {
	  -webkit-font-smoothing: antialiased;
	  text-rendering: optimizeLegibility; 
	}


/* = Extra Sizing
----------------------------------------------- */

	@media only screen and (max-width: 479px) {
		.show-xxs{
			display:block !important;
		}
		
		.hidden-xxs{
			display:none !important;
		}
	
		.col-xxs-3{
			width:25% !important;
			display:block !important;
		}
	
		.col-xxs-4{
			width:33.33333333% !important;
			display:block !important;
		}
		
		.col-xxs-6{
			width:50% !important;
			display:block !important;
		}
	
		.col-xxs-12{
			width:100% !important;
			clear:both !important;
			display:block !important;
		}
	}


/* = HTML & Body
-----------------------------------------------*/

	html, body {
		width:100%;
		min-width:300px;
		height:auto;
		
		color:#222222;
		font-family: 'Montserrat', Arial, Helvetica, sans-serif;
		font-size:15px;
		font-weight:normal;
		line-height:25px;
		text-align:center;
		
		margin:0px auto;
		padding:0px;
		border:0px none;
	}
	
	html {
	}
	
	body {
	}


/* = Standards
-----------------------------------------------*/

	/* Titles */
	
	h1,
	h2,
	h3,
	h4,
	h5,
	h6{
		color:#4a5e7e;
		font-family:inherit;
		font-size:25px;
		font-style:normal;
		font-weight:normal;
		line-height:35px;
			
		margin:15px auto;
		padding:0px;
	}
	
		h1{
			/* Page Title */
			font-size:25px;
			font-weight:bold;
			line-height:35px;
			text-transform:uppercase;
		}
	
		h2{
			/* Page Subtitle */
			font-size:25px;
			font-weight:bold;
			line-height:35px;
			text-transform:uppercase;
		}
	
		h3{
			/* Page Section Title */ 
			font-size:20px;
			font-weight:bold;
			line-height:30px;
		}
	
		h4{
			/* Job Section Title */
			font-size:20px;
			font-weight:bold;
			line-height:30px;
		}
	
		h5{
			/* Job Filter Title */
			font-size:15px;
			line-height:25px;
		}
	
		h6{
			/* Footer Title */ 
			font-size:20px;
			line-height:30px;
		}
	
	p{
		color:inherit;
		font-family:inherit;
		font-size:15px;
		font-style:normal;
		font-weight:normal;	
			
		margin:15px auto;
		padding:0px;
	}
	
	
	/* Lists */
	ul, ol{
		margin:15px auto;
		padding:0px 25px;
	}
	
		li{
			color:inherit;
			font-family:inherit;
			font-size:15px;
			font-style:normal;
			font-weight:normal;
			line-height:25px;
		}
	
		ul ul, 
		ol ol, 
		ul ol, 
		ol ul{
			margin:13px auto;
			padding:0px 25px;
		}
		
			ul ul li, 
			ol ol li, 
			ul ol li, 
			ol ul li{
				font-size:13px;
				line-height:23px;
			}
	
	
	/* Emphasis */
	strong, b{
		font-style:normal;
		font-weight:bold;
	}
	
	i, em{
		font-style:italic;
		font-weight:normal;
	}
	
	strong i, strong em,
	i strong, em strong {
		font-style:italic;
		font-weight:bold;
	}
	

	/* Links */
	a,
	a:link,
	a:active,
	a:visited {
		color:inherit;
		font-family:inherit;
		text-decoration:none;
		outline:none !important;
			
		opacity:1;
		
		-webkit-transition:all 150ms cubic-bezier(0.42, 0, 0.58, 1);
		-moz-transition:all 150ms cubic-bezier(0.42, 0, 0.58, 1);
		-o-transition:all 150ms cubic-bezier(0.42, 0, 0.58, 1);
		transition:all 150ms cubic-bezier(0.42, 0, 0.58, 1); 
	}
	
		a:hover {
			color:inherit;
			font-family:inherit;
			text-decoration:none;
			outline:none !important;
			
			opacity:0.75;
		
			-webkit-transition:all 150ms cubic-bezier(0.42, 0, 0.58, 1);
			-moz-transition:all 150ms cubic-bezier(0.42, 0, 0.58, 1);
			-o-transition:all 150ms cubic-bezier(0.42, 0, 0.58, 1);
			transition:all 150ms cubic-bezier(0.42, 0, 0.58, 1); 
		}

	button,
	button:link,
	button:active,
	button:visited{
		background:#4a5e7e;

		width:auto;
		height:auto;

		color:#FFFFFF;
		letter-spacing:1px;
		text-transform:uppercase;

		margin:15px auto;
		padding:10px 20px;
		border:0px none;
			
		opacity:1;
		
		-webkit-transition:all 150ms cubic-bezier(0.42, 0, 0.58, 1);
		-moz-transition:all 150ms cubic-bezier(0.42, 0, 0.58, 1);
		-o-transition:all 150ms cubic-bezier(0.42, 0, 0.58, 1);
		transition:all 150ms cubic-bezier(0.42, 0, 0.58, 1);

		-webkit-border-radius:0px;
		-moz-border-radius:0px;
		border-radius:0px;
	}

		button:hover{
			opacity:0.75;
		
			-webkit-transition:all 150ms cubic-bezier(0.42, 0, 0.58, 1);
			-moz-transition:all 150ms cubic-bezier(0.42, 0, 0.58, 1);
			-o-transition:all 150ms cubic-bezier(0.42, 0, 0.58, 1);
			transition:all 150ms cubic-bezier(0.42, 0, 0.58, 1); 
		}
	
	
	/* Line Break */
	hr{
		background:#EEEEEE;
		
		width:100%;
		height:1px;
		
		display:inline-block;
		
		font-size:1px;
		line-height:1px;
		
		margin:0px auto;
		padding:0px;
		border:0px none;	
	}



	/* Form Elements */
	label {
		width:100%;
		height:auto;
		color:inherit;
		font-family:inherit;
		font-weight:normal;
		font-style:normal;
			
		margin:0px auto 5px;
		padding:0px;
	}
	
	input[type="text"],
	input[type="email"],
	input[type="tel"],
	input[type="file"],
	input[type="number"],
	textarea{
		background:#FFFFFF;
		
		width:100%;
		height:56px;
		
		display:block;
		position:relative;
		overflow:hidden;
		
		color:#777777;
		
		margin:0px auto 25px;
		padding:0px 15px;
		border:2px solid #DDDDDD;
			
		outline:none;
	}
	
	textarea{
		height:150px;
		min-height:150px;
		padding:10px 15px;	
		resize:none;
	}
	
		input[type="text"]:hover,
		input[type="email"]:hover,
		input[type="tel"]:hover,
		input[type="file"]:hover,
		input[type="number"]:hover,
		textarea:hover{
			background:#FFFFFF;
			color:#777777;
			border:2px solid #BBBBBB;
		}
	
		input[type="text"]:focus,
		input[type="email"]:focus,
		input[type="tel"]:focus,
		input[type="file"]:focus,
		input[type="number"]:focus,
		textarea:focus{
			background:#FFFFFF;
			color:#777777;
			border:2px solid #BBBBBB;
		}
	
		input[type="text"]:focus:hover,
		input[type="email"]:focus:hover,
		input[type="tel"]:focus:hover,
		input[type="file"]:focus:hover,
		input[type="number"]:focus:hover,
		textarea:focus:hover{
			background:#FFFFFF;
			color:#777777;
			border:2px solid #BBBBBB;
			outline:none;
		}

	input[type="submit"]{
		background:#4A5E7E; 
		background-size:15px 23px;
		
		width:auto;
		height:auto;
		
		display:inline-block;
		
		color:#FFFFFF;
		line-height:22px;
		text-decoration:none;
		
		margin:5px auto 30px;
		padding:15px 30px;
		border:0px none;	
			
		outline:none;
	}
	
		input[type="submit"]:active,
		input[type="submit"]:hover,
		input[type="submit"]:focus,
		input[type="submit"]:focus:hover{
			opacity:0.8;
		}
	
	form img.ajax-loader{
		padding-left:15px;
	}


	/* Messages */
	.wpcf7-response-output{
		background:#fefccb;
		
		width:100%;
		height:auto;	
		
		display:block;
		position:relative;
		clear:both;
		
		color:#6d7025;
		font-size:10px;
		line-height:15px;
		text-align:center;
		
		margin:0px auto 25px !important;
		padding:10px 15px !important;
		border:1px solid #6d7025;
	
		-webkit-border-radius:1px;
		-moz-border-radius:1px;
		border-radius:1px;
	}
	
		.wpcf7-response-output.wpcf7-validation-errors{
			background:#fed4d5;
			color:#851d28;
			border:1px solid #851d28;
		}
		
		.wpcf7-response-output.wpcf7-mail-sent-ok{
			background:#d4fecc;
			color:#2f7b21;
			border:1px solid #2f7b21;
		}
	
	input.wpcf7-not-valid,
	textarea.wpcf7-not-valid{
		background:#ffffff !important;
		border-bottom-color:#851d28 !important;
	}
	
		input.wpcf7-not-valid:focus,
		textarea.wpcf7-not-valid:focus{
			background:#ffffff !important;
			border-bottom-color:#BBBBBB !important;
		}
		
	select.wpcf7-not-valid{
		border-bottom-color:#851d28 !important;
	}
	
		select.wpcf7-not-valid:focus{
			border-bottom-color:#FFFFFF !important;
		}
	
		span.wpcf7-not-valid-tip { 
			background: none;
			
			position:relative;
			display:block;
			top:auto;
			left:auto;
			
			color:#851d28;
			font-size:11px !important;
			line-height:16px !important;
			
			margin:-20px auto 25px !important;
			padding:0px;
			border:0px none;
		}
		
		.accept-this span.wpcf7-not-valid-tip{
			width:280px;
			display:block !important;
			position:absolute;
			top:20px;
			left:22px;
			color:#851d28;
			font-size:13px;
		}


	/* Media Queries */
	@media only screen and (max-width: 991px){
	}
	
	@media only screen and (max-width: 767px){
	}
			

/* = Content
-----------------------------------------------*/
	
	/* Sections */
	section{
		width:100%;
		height:auto;
		
		display:block;
		position:relative;	
		clear:both;
		
		margin:0px auto;
		padding:50px 0px;
		border:0px none;
	}


	/* Title */
	.section__title{
		background:#4a5e7e;

		width:100%;
		height:auto;
		
		display:block;
		position:relative;

		text-align:left;
		
		margin:0px auto;
		padding:15px 0px;
		border:0px none;
	}

		.section__title h1{
			color:#FFFFFF;
		}


	/* Subtitle */
	.section__subtitle{
		text-align:center;
	}
	@media only screen and (max-width: 767px){
		.section__subtitle{
			text-align:left;
		}
	}


	/* One Column */
	.section__one-column{
		text-align:left;
	}


	/* Two Columns */
	.section__two-columns{
		text-align:left;
	}

	@media (min-width:768px){
		.section__two-columns-text{
			-webkit-column-count:2;
			-moz-column-count:2;
			column-count:2;
			-webkit-column-gap:30px;
			-moz-column-gap:30px;
			column-gap:30px;
		}
	}


	/* Carousel */
	.section__carousel{
		width:100%;
		height:auto;
		
		display:block;
		position:relative;

		text-align:center;
		
		margin:0px auto;
		padding:0px;
		border:0px none;	
	}
	
		.section__carousel ul,
		.section__carousel li{ 
			background:#000000;		
			
			width:100%;
			height:auto;
			
			display:block;
			position:relative;
			float:left;
			z-index:0;
			
			list-style:none;
			
			margin:0px auto;
			padding:0px;
			border:0px none;
		}

		.carousel__image{
			width:100%;
			display:none;
			z-index:0;
			opacity:0.25;
		}

		.carousel__content{
			width:100%;
			height:100%;

			display:none;
			position:absolute;
			z-index:20;
			top:0px;
			left:0px;

			color:#FFFFFF;
			text-align:left;
		}

		.carousel__content-inner{
			width:100%;
			height:100%;
			
			display:inline-block;
			display:flex;
			flex-direction:column;
			align-items:center;
			justify-content:center;
			text-align:left;
		}

		@media only screen and (max-width:479px){
			.carousel__content-inner{
				text-align:center;
			}
		}

			.carousel__title{
				font-size:45px;
				line-height:55px;
				font-weight:bold;
    			margin-bottom:0px;
			}

			.carousel__text{
				font-size:25px;
    			line-height:35px;
			}
			
			@media only screen and (max-width: 1199px){
				.carousel__title{
					font-size:35px;
					line-height:45px;
				}
				.carousel__text{
					font-size:25px;
	    			line-height:35px;
				}
			}
			
			@media only screen and (max-width:992px){
				.carousel__title{
					font-size:25px;
					line-height:35px;
				}
				.carousel__text{
					font-size:15px;
	    			line-height:25px;
				}
			}
			
			@media only screen and (max-width:479px){
				.carousel__title{
					font-size:20px;
					line-height:30px;
    				margin-bottom:15px;
				}
			}

		
		/* Carousel Navigation */
		.section__carousel .flex-control-nav {
			width:auto;
			height:10px;

			display:inline-block;
			position:relative;

			text-align:center;

			top:-60px;

			margin:0px auto;
		}

		@media only screen and (max-width: 767px){
			.section__carousel .flex-control-nav {
				display:none;
			}
		}
		
			.section__carousel .flex-control-nav li{
				background:none;

				width:20px;
				height:10px;

				display:block;
				position:relative;

				text-indent:-9999px;

				margin:0px auto;
				padding:0px 5px;
				border:0px none;

				overflow: hidden;
			}
			
				.section__carousel .flex-control-nav a{
					width:10px;
					height:10px;

					display:block;
					position:relative;

					text-indent:-9999px;

					margin:0px auto;
					padding:0px;
					border:2px solid #CCCCCC;

					overflow: hidden;-webkit-border-radius: 50%;
					-moz-border-radius: 50%;
					border-radius: 50%;
				}

				.section__carousel .flex-control-nav a.flex-active{
					background:#CCCCCC;
				}


	/* Quotes */
	.section__quotes{
		background:url('../img/background-quotes.jpg') no-repeat center center scroll #000000; 
		-webkit-background-size: cover;
		-moz-background-size: cover;
		-o-background-size: cover;
		background-size: cover;
	}
	
		.section__quotes ul,
		.section__quotes li{ 		
			width:100%;
			height:auto;
			
			display:block;
			position:relative;
			float:left;
			z-index:0;
			
			list-style:none;
			
			margin:0px auto;
			padding:0px;
			border:0px none;
		}

		.quotes__content{
			width:100%;
			height:100%;
			
			display:block;
			position:relative;

			color:#FFFFFF;
			text-align:center;
		}

			.quotes__text{    
				font-size:25px;
    			line-height:35px;
			}

			.quotes__author{
				font-size:20px;
				font-weight:bold;
			}
		
			@media (max-width:767px){
				.quotes__text{    
					font-size:20px;
	    			line-height:30px;
				}

				.quotes__author{
					font-size:15px;
					font-weight:bold;
				}
			}

		
		/* Carousel Navigation */
		.section__quotes .flex-control-nav {
			width:auto;
			height:10px;

			display:inline-block;
			position:relative;

			text-align:center;

			margin:50px auto 0px;
		}
		
			.section__quotes .flex-control-nav li{
				width:10px;
				height:10px;

				display:inline-block;
				position:relative;

				text-indent:-9999px;

				margin:0px 5px;
				padding:0px;
				border:0px none;

				overflow: hidden;
			}
			
				.section__quotes .flex-control-nav a{
					width:10px;
					height:10px;

					display:block;
					position:relative;

					text-indent:-9999px;

					margin:0px auto;
					padding:0px;
					border:2px solid #CCCCCC;

					overflow: hidden;-webkit-border-radius: 50%;
					-moz-border-radius: 50%;
					border-radius: 50%;
				}

				.section__quotes .flex-control-nav a.flex-active{
					background:#CCCCCC;
				}
	
	
/* -- Home ---------- */

	/* Categories */
	.section__categories{
	}

		.section__categories-container{
			margin:50px 0px;
			border-left:1px solid #DDDDDD;
			border-top:1px solid #DDDDDD;
		}
	
		.section__categories-category{
			height:150px;
			padding:0px;
			border-right:1px solid #DDDDDD;
			border-bottom:1px solid #DDDDDD;
		}

			.section__categories a{
				width:100%;
				height:100%;

				display:flex;
				flex-direction:column;
				align-items:center;
				justify-content:center;
				text-align:center;

				padding:0px 15px;
			}

			.section__categories a:hover{
				background:#4a5e7e;
				opacity:1.0;
			}

				.section__categories a i{
					color:#4a5e7e;
					font-size:20px;
					margin-bottom:5px;
				}

				.section__categories a span{
					color:#999999;
					font-size:12px;
					text-transform:uppercase;
				}

				.section__categories a:hover i,
				.section__categories a:hover span{
					color:#FFFFFF;
				}

	
/* -- About ---------- */


	/* People */
	.section__people{
		background:#F8F8F8;
	}
	
	
/* -- Contact Us ---------- */
	.section__contact{}


		/* Map */
		.section__contact-map{}

			.section__contact-map #google_map{
				background:#CCCCCC;
				
				width:100%;
				height:460px;
				
				position:relative;
				z-index:0;

				margin:0px auto 50px;
			}


		/* Form */
		.section__contact-form{
			text-align:left;
		}


		/* Info */
		.section__contact-info{
			background:#F8F8F8;
			text-align:left;
			padding:25px;
		}

			.section__contact-info-phone{}

			.section__contact-info-email{}

			.section__contact-info-website{}


		/* Social */
		.section__contact-social{
			text-align:left;
			margin-top:25px;
		}

		@media (max-width:991px){
			.section__contact-social{
				display:none;
			}
		}
			.section__contact-social a{
				background:#F2F2F2;

				width:40px;
				height:40px;

				display:inline-block;
				position:relative;

				margin:0px 2px 0px 0px;
				padding:4px;
				border:0px none;

				overflow: hidden;-webkit-border-radius: 50%;
				-moz-border-radius: 50%;
				border-radius: 50%;
			}

			.section__contact-social-facebook{}

			.section__contact-social-twitter{}

			.section__contact-social-linkedin{}

			.section__contact-social-google_plus{}

				.section__contact-social img{
					width:32px;
					height:32px;
					display:block;
					opacity:0.25;
				}



/* = Header
-----------------------------------------------*/
	
	/* Header */
	.header{
		background:#FFFFFF;
		width:100%;
		height:auto;

		display:block;
		position:relative;

		margin:0px auto;
		padding:15px 0px;
		border:0px none;
	}


	/* Logo */
	.header__logo{
		text-align:left;
	}

	.header__logo img{
		width:100%;
		max-width:87px;
		height:auto;
	}

	
	/* Navigation */
	.header__navigation{
	}

	.header__navigation-menu ul{
		width:100%;
		height:auto;

		display:block;
		position:relative;

		margin:10px auto;
		padding:0px;
		border:0px none;
	}

	.header__navigation-menu li{
		width:auto;
		height:auto;

		display:block;
		position:relative;
		float:left;

		margin:0px 5px;
		padding:0px;
		border:0px none;
	}

	.header__navigation-menu a{
		background:#FFFFFF;

		width:auto;
		height:42px;

		display:block;
		position:relative;

		font-weight:bold;
		text-transform:uppercase;

		margin:0px auto;
		padding:9px 14px;
		border:0px none;
	}

	.header__navigation-menu a:hover,
	.header__navigation-menu li.current-menu-item a{
		background:#4a5e7e;
		color:#FFFFFF;
		opacity:1.0;
	}

	@media screen and (max-width:767px){
		.header__navigation{
			background:rgba(255,255,255,0.95);

			width:100%;
			min-width:300px;
			height:100%;

			position:fixed;
			display:none;
			z-index:9999;
			top:0px;
			left:0px;

			margin:0px auto;
			padding:85px 23px;
			border:0px none;
		}

		.header__navigation-menu ul,
		.header__navigation-menu li{
			width:100%;
			height:auto;

			display:block;
			position:relative;

			margin:0px auto;
			padding:0px;
			border:0px none;
		}

		.header__navigation-menu a{
			background:rgba(215,215,215,0.95);
			margin:5px auto;
		}
	}


	/* Menu Buttons */
	.header__button-open,
	.header__button-close{
		background:#4a5e7e;

		width:44px;
		height:44px;

		display:block;
		position:absolute;
		top:8px;
		right:8px;

		margin:0px auto;
		padding:0px;
		border:0px none;
	}

	.header__button-close{
		top:23px;
		right:23px;
	}

	.header__button-open img,
	.header__button-close img{
		width:44px;
		height:44px;
	}

	.js-stopScrolling{
	  height: 100%;
	  overflow: hidden;
	}

		
/* = Footer
-----------------------------------------------*/


	/* Footer */

	#footer-container{
		background:#202020;
	}

	.footer{
		background:#202020;

		width:100%;
		height:auto;

		display:block;
		position:relative;

		color:#999999;
		text-align:left;

		margin:0px auto;
		padding:50px 0px;
		border:0px none;
	}

		.footer h6{
			color:#FFFFFF;
		}

	.footer__top{
		width:100%;
		height:auto;

		display:block;
		position:relative;

		text-align:left;

		margin:0px auto;
		padding:0px;
		border:0px none;
	}

	.footer__bottom{
		width:100%;
		height:auto;

		display:block;
		position:relative;

		text-align:center;

		margin:0px auto;
		padding:0px;
		border:0px none;
	}

	
	/* Navigation */
	.footer__navigation{
	}

	.footer__navigation ul{
	}

	.footer__navigation li{
	}

	.footer__navigation a{
	}


	/* Social */
	.footer__social{
		text-align:center;
	}

		.footer__social a{
			width:40px;
			height:40px;

			display:inline-block;
			position:relative;

			margin:0px 5px;
			padding:2px;
			border:2px solid #999999;

			overflow: hidden;-webkit-border-radius: 50%;
			-moz-border-radius: 50%;
			border-radius: 50%;
		}

		.footer__social-facebook{}

		.footer__social-twitter{}

		.footer__social-linkedin{}

		.footer__social-google_plus{}

			.footer__social img{
				width:32px;
				height:32px;
				display:block;
			}


	/* Sticky Footer */
	html, 
	body {
		height: 100%;
	}

	#page-container {
		min-height: 100%;
		margin: 0 auto -400px;
	}

	#footer-container, 
	#push {
		height:400px;
	}

	@media screen and (max-width:767px){
		#page-container {
			margin: 0px auto;
		}

		#footer-container, 
		#push,
		.footer{
			height:auto;
		}
	}



